.container {
  background-color: rgba(233, 67, 38, 0.986);
  display: grid;
  padding-bottom: 5px;
}

#logo {
  justify-items: center;
  display: grid;
}

#search-bar {
  margin: auto;
}
.logo {
  height: 4vh;
  padding: 5px;
}

@media (min-width: 1020px) {
  .logo {
    height: 7vh;
    padding: 5px;
  }
}
