<div class="grid">
  <div class="container">
    <div class="card card1">
      <p class="name">{{ pokemon.name }}</p>
      <div class="front-side item">
        <img [src]="sprites.front_default" alt="" />
      </div>
      <div class="back-side item">
        <img [src]="sprites.back_default" alt="" />
      </div>
    </div>
    <div class="card card2">
      <p class="name">Shinny {{ pokemon.name }}</p>
      <div class="front-side item">
        <img [src]="sprites.front_shiny" alt="" />
      </div>
      <div class="back-side item">
        <img [src]="sprites.back_shiny" alt="" />
      </div>
    </div>
  </div>
</div>

<div *ngFor="let ability of abilities">
  {{ ability.ability.name }}
</div>

<p>Height : {{ pokemon.height }}</p>
<p>Weight : {{ pokemon.weight }}</p>

<div *ngFor="let type of types">
  <p>{{ type.type.name }}</p>
</div>

<div *ngFor="let stat of stats" style="background-color: aqua">
  <p>{{ stat.stat.name }} : {{ stat.base_stat }}</p>
</div>
