<div class="container">
  <div class="card" *ngFor="let data of moreData" style="margin: 3rem">
    <a [routerLink]="['/pokemon', data.id]">
      <div class="imgBx">
        <img [src]="data.sprites.front_default" alt="" class="img-poki" />
      </div>
      <div class="contentBx" style="margin-top: 50%">
        <div *ngFor="let types of data.types" class="types">
          <div style="padding: 5px">
            {{ types.type.name | titlecase }}
          </div>
        </div>
        <div class="name">
          <p>{{ data.name | titlecase }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="footer">
  <div id="btn" (click)="nextLink()">
    <span class="noselect">Next</span>
  </div>
  <div id="btn" (click)="previousLink()" *ngIf="isPrevious">
    <span class="noselect">Previous</span>
  </div>
</div>
